extends layout

block content
  .jumbotron
    .container
      h1 #{mainTitle}
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .container
    h1 #{title} page
    .row
      .col-md-4
        h4 About Us
        .row
          .col-md-6
            img(class='img-thumbnail img-responsive', src='/img/1.jpg')
          .col-md-6
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          .col-md-12
            p
              button.btn.btn-default View details
      .col-md-4
        h4 Services
        .row
          .col-md-6
            img(class='img-thumbnail img-responsive', src='/img/2.jpg')
          .col-md-6
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          .col-md-12
            p
              button.btn.btn-default View details
      .col-md-4
        h4 Contact
        .row
          .col-md-6
            img(class='img-thumbnail img-responsive', src='/img/3.jpg')
          .col-md-6
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          .col-md-12
            p
              button.btn.btn-default View details